/*FONDO*/
body{
    /*background-image: url('../img/fondo1.jpg');*/
    background-position: bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.fondo{
    background-color: black;      
}

/*TÍTULOS*/
.nov{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
    text-align: center;

}

.nov1{
    font-family: 'Roboto', sans-serif;
    color: aliceblue;
}

.parrot{
    display:block;
    margin:auto;
}

/*FORMULARIO*/
.formulario{
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
    
}

/*FOOTER*/
#footer{ 
    background-color: black;
    margin: 0;
    padding: 0;
   
}
#footer p{ 
    font-family: 'Quicksand', sans-serif;
    font-size: 10px;
    color: white; 
    margin-bottom: auto;
}
#footer ul{
    list-style-type: none;
    margin: 0;
    padding:0;  
}
#footer ul li{
    display: inline-block;   
}
#footer ul li a{
    text-decoration: none;
    color: white;
    padding: 5px;
    float:left;
    margin-bottom: auto;
}
